name: Build and Upload Conda Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.13
          miniforge-version: latest
          channels: conda-forge,gurobi,defaults
          channel-priority: strict
      
      - name: Install conda-build
        shell: bash -l {0}
        run: |
          conda install -y conda-build anaconda-client
      
      - name: Build conda package
        shell: bash -l {0}
        run: |
          conda build conda-recipe --output-folder build
      
      - name: Upload conda package to Anaconda.org
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
          anaconda upload build/noarch/*.conda --label main --force
